/* Variables Start */
:root {
  --main-color: #10cab7;
  --secendary-color: #2c4755;
  --background1: #f6f6f6;
  --gray-text: #444;
  --sections-padding: 60px;
  --sepecial-title-margin: 60px;
}
/* Variables End */
/* Global Rules Start */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "work sans", sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
.special-title {
  text-transform: capitalize;
  text-align: center;
  font-size: 110px;
  color: #ebeced;
  font-weight: 800;
  margin: 0;
  letter-spacing: -6px;
}
.special-title + p {
  text-align: center;
  font-size: 22px;
  text-transform: capitalize;
  margin: -30px 0 0 0;
  color: #777;
}
/* Global Rules End */
/* Header Start*/
header {
  padding: 20px 10px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  width: 80px;
}
header .container .links {
  position: relative;
  height: 15px;
}
header .links:hover .burger-icon div:nth-child(2) {
  width: 100%;
}
header .container .links .burger-icon {
  width: 35px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
header .links .burger-icon div{
  width: 100%;
  height: 2px;
  background-color: var(--secendary-color);
  margin-bottom: 5px;
}
header .links .burger-icon div:nth-child(2) {
  width: 60%;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
header .links ul {
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
  display: none;
  background-color: var(--background1);
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  z-index: 1;
}
header .links:hover ul {
  display: block;
}
header .links ul::after {
  content: "";
  border: 10px solid;
  border-color: transparent transparent var(--background1) transparent;
  position: absolute;
  top: -20px;
  right: 5px;
}
header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: var(--secendary-color);
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
header .links ul li a:hover {
  padding-left: 35px;
}
header .links ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
/* Header End */
/* Landing Page Start */
.landing {
  background-image: url("/Images/landing.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 63.55px);
  position: relative;
}
.landing .intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50% , -50%);
  -moz-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  -o-transform: translate(-50% , -50%);
  text-align: center;
  text-transform: capitalize;
}
.landing .intro h1 {
  margin: 0;
  color: var(--main-color);
  font-size: 55px;
  font-weight: bold;
}
.landing .intro p {
  font-size: 18px;
  line-height: 1.8;
  width: 360px;
  max-width: 100%;
}
/* Landing Page End */
/* features Start */
.features {
  background-color: var(--background1);
  padding-top: var(--sections-padding);
  padding-bottom: var(--sections-padding);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
  gap: 20px;
}
.features .container .card {
  text-align: center;
}
.features .card i {
  font-size: 50px;
  color: var(--main-color);
}
.features .card h3 {
  margin: 30px auto;
  font-size: 20px;
  font-weight: 800;
  text-transform: capitalize;
}
.features .card p {
  width: 90%;
  margin: 0 auto;
  font-size: 17px;
  color: var(--gray-text);
  font-weight: 300;
  line-height: 1.8;
}
.features .card p::first-letter {
  text-transform: uppercase;
}
/* features End */
/* Services Start */
#services {
  padding-top: var(--sections-padding);
  padding-bottom: var(--sections-padding);
}
#services .container .servs-con {
  margin-top: var(--sepecial-title-margin);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
  gap: 20px;
}
#services .servs-con .col .serv:first-child {
  margin-bottom: 40px;
}
#services .servs-con .col .serv {
  display: flex;
}
#services .servs-con .col .serv i {
  font-size: 30px;
  color: var(--main-color);
  flex-basis: 60px;
}
#services .servs-con .col .serv .text {
  flex: 1;
}
#services .servs-con .col .serv .text h3 {
  margin: 0 0 20px 0;
}
#services .servs-con .col .serv .text p {
  color: var(--gray-text);
  line-height: 1.8;
  font-weight: 300;
}
#services .servs-con .col:last-child .image {
  text-align: center;
  position: relative;
}
#services .servs-con .col:last-child .image img{
width: 250px;
}
#services .servs-con .col:last-child .image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(333.33px + 100px);
  top: -50px;
  right: -50px;
  background-color: var(--secendary-color);
  z-index: -1;
}
/* Services End */
/* Portfolio Start */
#portfolio {
  background-color: var(--background1);
  padding-top: var(--sections-padding);
  padding-bottom: var(--sections-padding);
}
#portfolio .container .cards-con {
  margin-top: var(--sepecial-title-margin);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px ,1fr));
  gap: 20px;
}
#portfolio .container .cards-con .card {
  background-color: white;
}
#portfolio .container .cards-con img {
  width: 100%;
}
#portfolio .container .cards-con .info {
  padding-left: 15px;
}
#portfolio .container .cards-con .info h3 {
  margin: 10px 0 0 0;
}
#portfolio .container .cards-con .info p {
  line-height: 1.8;
  color: var(--gray-text);
  font-weight: 300;
  padding: 10px 0;
  margin: 0;
}
/* Portfolio End */
/* About Start */
#about {
  padding-top: var(--sections-padding);
  padding-bottom: calc(var(--sections-padding) + 30px);
}
#about .container .cards-con {
  margin-top: calc(var(--sepecial-title-margin) + 30px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#about .cards-con .image {
  position: relative;
  width: calc(800px / 3);
  height: calc(1200px / 3);
}
#about .cards-con .image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(400px + 60px);
  top: -35px;
  left: -20px;
  z-index: -1;
  background-color: #ebeced;
  display: block;
}
#about .cards-con .image::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  top: -35px;
  left: calc(100% - 40px);
  z-index: -1;
  display: block;
}
#about .cards-con img {
  width: 100%;
}
#about .cards-con .info {
  flex-basis: calc(100% - 500px);
}
#about .cards-con .info p:first-child {
  font-size: 17px;
  padding: 25px 0;
  font-weight: bold;
  line-height: 1.8;
}
#about .cards-con .info p:last-child {
  font-size: 17px;
  color: var(--gray-text);
  padding: 25px 0;
  line-height: 1.8;
}
#about .cards-con .info hr {
  width: 50%;
  margin: 0;
  background-color: var(--main-color);
  padding: 0.5px;
}
/* About End */
/* Contact Start */
#contact {
  background-color: var(--background1);
  padding-top: var(--sections-padding);
  padding-bottom: var(--sections-padding);
}
#contact .container .info {
  text-align: center;
  margin-top: calc(var(--sepecial-title-margin) + 40px);
}
#contact .info p:first-child {
  font-size: 35px;
  font-weight: 800;
  color: var(--secendary-color);
}
#contact .info p:nth-child(2) a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 800;
  color: var(--main-color);
}
#contact .info p:last-child {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;
  color: var(--gray-text);
}
#contact .info p:last-child i {
  color: var(--secendary-color);
}
/* Contact End */
/* Footer Start */
footer {
  background-color: var(--secendary-color);
  padding: 4px;
  text-align: center;
}
footer p {
  font-size: 15px;
  color: white;
}
footer p span {
  color: var(--main-color);
}
/* Footer End */

/* Media Start */
/* Phones */
@media (max-width: 768px) {
  :root {
    --sections-padding: 40px;
    --sepecial-title-margin: 60px;
  }
  .container {
    width: 90%;
  }
  .special-title {
    font-size: 80px;
  }
  .special-title + p {
    font-size: 15px;
    margin: -20px 0 0 0;
  }
  .features .container .card:not(:last-child) {
    margin-bottom: 30px;
  }
  #services .servs-con .col:last-child {
    display: none;
  }
  #services .servs-con .col:first-child {
    margin-bottom: 10px;
  }
  #services .servs-con .col .serv {
    flex-direction: column;
    text-align: center;
  }
  #about .cards-con .image::before,
  #about .cards-con .image::after {
    display: none;
  }
  #about .container .cards-con {
    flex-direction: column;
    align-items: center;
    text-align: justify;
    line-height: 1.2;
  }
  #about .cards-con .info p,
  #about .cards-con .info hr {
    margin: 0 auto;
  }
  #about .cards-con .image {
    margin: 0 auto 10px auto;
  }
  #contact .container .info {
    margin-top: var(--sepecial-title-margin);
  }
  #contact .info p:first-child {
    font-size: 22px;
  }
  #contact .info p:nth-child(2) a {
    font-size: 15px;
  }
  #contact .info p:last-child {
    font-size: 12px;
  }
}

/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  #services .servs-con .col .serv:first-child {
    margin-bottom: 40px;
    height: 150px;
  }
  #services .servs-con .col:last-child {
    display: none;
  }
  #about .cards-con .image::before,
  #about .cards-con .image::after {
    display: none;
  }
  #about .container .cards-con {
    flex-direction: column;
    align-items: center;
  }
  #about .cards-con .info p,
  #about .cards-con .info hr {
    margin: 0 auto;
  }
  #about .cards-con .image {
    margin: 0 auto 10px auto;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  #services .servs-con .col:last-child {
    display: flex;
  }
  #about .container .cards-con {
    flex-direction: row;
  }
  #about .cards-con .image::before,
  #about .cards-con .image::after {
    display: block;
  }
  #about .cards-con .info p,
  #about .cards-con .info hr {
    margin: 0;
  }
  #about .cards-con .image {
    margin: 0;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Media End */